openapi: 3.1.0
info:
  title: WordSparrow Survey API
  version: 0.2.0
  summary: Auth-optional rating + corpus-contribution surface for clue RLHF.
  description: |
    Backend for the `/sondage` route. Anonymous and authenticated visitors
    rate candidate clues (qualité, difficulté, optional flag). Authenticated
    visitors can additionally submit a `correctif` (alternative clue) which
    enters the corpus as an anonymous candidate.

    Auth resolution: the API attempts to read `__Secure-ws_session` and
    verifies via identity-api (30 s cache, ADR-0044 pattern). Auth is
    optional on `/v1/items/*`; required on `/v1/me/*`. Anonymous callers
    receive 401 if they include a `correctif` (corpus contributions require
    sign-in).

    See ADR-0056 and `docs/superpowers/specs/2026-05-25-survey-module-design.md`.
  contact:
    name: Bliss maintainers
    url: https://github.com/Ishou/bliss
    email: noreply@bliss.example
  license:
    name: FSL-1.1-MIT
    url: https://github.com/Ishou/bliss/blob/main/LICENSE

servers:
  - url: https://survey.wordsparrow.io
    description: Production
  - url: http://localhost:7780
    description: Local k3d

tags:
  - name: campaigns
    description: Campaign-lifecycle reads. Open/close happen via direct SQL in v1.
  - name: items
    description: Rating-pool reads and rating submissions.
  - name: lemma-meta
    description: Per-lemma autocomplete — distinct senses and sub-tags aggregated from past ratings.
  - name: me
    description: Per-user progress, contributions, and preferences.

paths:
  /v1/campaign/current:
    get:
      operationId: getCurrentCampaign
      summary: Return the current campaign and its lock state.
      description: |
        Returns the open campaign if one exists, otherwise the most recently
        closed campaign. The frontend treats a non-null `closedAt` as "the
        sondage is locked": render the LockBanner and disable verdict /
        Corriger controls. Polled on mount and visibilitychange; no
        long-poll, no WebSocket. 503 only when no campaign has ever existed
        (operator error caught by smoke tests).
      tags: [campaigns]
      responses:
        '200':
          description: Current campaign.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '503':
          $ref: '#/components/responses/ProblemDetails'

  /v1/items/next:
    get:
      operationId: getNextItem
      summary: Get the next unrated item for the caller.
      description: |
        Pulls one survey item the caller has not yet rated, applying tier-
        stratified weighted sampling and K-coverage prioritisation. Auth
        optional: signed-in callers are dedup'd server-side; anonymous
        callers may provide `excluded` to perform client-side dedup.
      tags: [items]
      parameters:
        - in: query
          name: excluded
          required: false
          description: Comma-separated list of `itemId`s the anonymous caller has already rated locally. Ignored when the caller is authenticated.
          schema:
            type: string
      responses:
        '200':
          description: Next item.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Item' }
        '204':
          description: Pool exhausted — no unrated items remain for this caller.
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '503':
          $ref: '#/components/responses/ProblemDetails'

  /v1/items/{itemId}/rating:
    post:
      operationId: submitRating
      summary: Submit a rating for an item.
      description: |
        Server assigns `submittedAs` based on session presence. For auth
        callers, the partial unique index on (itemId, userId) makes this
        idempotent — a repeat submission returns 409 with the existing
        rating. For anon callers, every submit creates a new row (no
        server-side dedup). Anonymous callers including a `correctif` or
        any meta annotation (`targetCategories`, `targetSense`,
        `isMultisense`, `subTags`) are rejected with 401 — corpus
        contributions and sense/category annotation both require sign-in.
      tags: [items]
      parameters:
        - in: path
          name: itemId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RatingRequest' }
      responses:
        '201':
          description: Rating accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RatingResponse' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '403': { $ref: '#/components/responses/ProblemDetails' }
        '404': { $ref: '#/components/responses/ProblemDetails' }
        '409':
          description: Auth caller already rated this item.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RatingResponse' }
        '422':
          description: Correctif rejected by style-guide filters (1–7).
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/CorrectifRejection' }
        '423':
          description: No open campaign — the sondage is locked.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }

  /v1/items/pairs/next:
    get:
      operationId: getNextPair
      summary: Get the next unrated pair (same mot) for pairwise rating.
      description: |
        Pulls two distinct survey items for the same `mot`, both unrated by
        the caller. Same auth/dedup rules as `/v1/items/next`. Returns 204
        when no mot has at least two unrated candidates available.
      tags: [items]
      parameters:
        - in: query
          name: excluded
          required: false
          description: Comma-separated list of `itemId`s the anonymous caller has already rated locally. Ignored when the caller is authenticated.
          schema:
            type: string
      responses:
        '200':
          description: Next pair.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ItemPair' }
        '204':
          description: No mot has two unrated candidates available.
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '503':
          $ref: '#/components/responses/ProblemDetails'

  /v1/ratings/pair:
    post:
      operationId: submitPairRating
      summary: Submit a pairwise verdict on two items for the same mot.
      description: |
        Records a pairwise verdict. Routing depends on whether the verdict
        expresses a preference or a tied absolute judgment:
          - LEFT_WINS / RIGHT_WINS → 1 row in `pair_ratings` (consumed by
            DPO pair builder directly as chosen/rejected).
          - BOTH_GOOD → 2 rows in `ratings` (qualite=5 each).
          - BOTH_BAD  → 2 rows in `ratings` (qualite=1 each).
          - SKIP      → no writes; client advances.
        `pair_ratings` stays a strict preference table — every row is a
        usable DPO pair. Absolute judgments accumulate in `ratings`
        alongside the binary-mode submissions.
      tags: [items]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PairRatingRequest' }
      responses:
        '201':
          description: Pair verdict recorded — at least one row written.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PairRatingResponse' }
        '204':
          description: SKIP verdict — no rows written, no body returned.
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '403': { $ref: '#/components/responses/ProblemDetails' }
        '404': { $ref: '#/components/responses/ProblemDetails' }
        '409': { $ref: '#/components/responses/ProblemDetails' }
        '423':
          description: No open campaign — the sondage is locked.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }

  /v1/actions/undo:
    post:
      operationId: undoAction
      summary: Undo the action identified by a capability token.
      description: |
        Reverses every write a submit produced, using the capability token
        returned as `undoToken`. The token travels in the body, never the URL.
        Anon actions authorize on possession; authed actions additionally bind
        to the session user. Undoable while the campaign is open and for an 8 s
        close grace; 410 once the grace elapses.
      tags: [items]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UndoActionRequest'
      responses:
        '204':
          description: Action reversed.
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '404':
          description: Token unknown, not yours, or already undone.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '410':
          description: Campaign-close grace window has elapsed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /v1/me/progress:
    get:
      operationId: getMyProgress
      summary: Caller's rating progress.
      tags: [me]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Progress snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressResponse' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '403': { $ref: '#/components/responses/ProblemDetails' }

  /v1/me/contributions:
    get:
      operationId: getMyContributions
      summary: Caller's proposed-clue contributions.
      tags: [me]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: List of items the caller proposed.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ContributionItem' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '403': { $ref: '#/components/responses/ProblemDetails' }

  /v1/me/preferences:
    patch:
      operationId: patchMyPreferences
      summary: Update caller's survey preferences.
      description: Currently only `deleteProposedOnErasure`. Updates `proposedBy.optedOut` for all existing contributions and applies to future ones.
      tags: [me]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PreferencesPatch' }
      responses:
        '204':
          description: Preferences updated.
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '403': { $ref: '#/components/responses/ProblemDetails' }

  /v1/lemma-meta/{mot}:
    get:
      operationId: getLemmaMeta
      summary: Per-lemma autocomplete source for sense glosses and sub-tags.
      description: |
        Aggregates the distinct sense glosses and sub-tags observed across
        past ratings of this lemma. Both `priorSenses` and `priorSubTags`
        are machine-grown from rating history — there is no separate
        curation surface. Powers the rating-card autocomplete dropdowns.
        Open auth (no PII, vocabulary-only). Both arrays are always
        returned — empty when the lemma has not been rated yet.
      tags: [lemma-meta]
      parameters:
        - in: path
          name: mot
          required: true
          description: Lemma surface form (the French word to look up). Matched as stored — no normalization on read.
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[A-Za-zÀ-ÖØ-öø-ÿŒœ''’ -]+$'
      responses:
        '200':
          description: Lemma meta (possibly empty).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LemmaMeta' }
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '503':
          $ref: '#/components/responses/ProblemDetails'

  /v1/health:
    get:
      operationId: getHealth
      summary: Liveness + readiness.
      responses:
        '200': { description: OK }
        '503': { description: Database or NATS unavailable }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Secure-ws_session

  parameters: {}

  schemas:
    Campaign:
      type: object
      description: |
        A rating-collection lifecycle window. At most one campaign is "open"
        (closedAt is null) at any time. When the current campaign is closed
        and no successor has been opened, rating POSTs return 423.
      required: [campaignId, batchLabel, openedAt, closedAt]
      properties:
        campaignId:
          type: string
          format: uuid
        batchLabel:
          type: string
          maxLength: 64
          description: Human label tying this campaign to a downstream training batch (e.g. `round-7`).
        openedAt:
          type: string
          format: date-time
        closedAt:
          type: [string, "null"]
          format: date-time
          description: Null while the campaign is collecting; non-null after the maintainer closes it.

    Item:
      type: object
      required: [itemId, mot, definition, pos, categorie, style, forceClaimed, longueur, tier, isCalibration]
      properties:
        itemId:        { type: string, format: uuid }
        mot:           { type: string }
        definition:    { type: string }
        pos:           { $ref: '#/components/schemas/Pos' }
        categorie:     { $ref: '#/components/schemas/Categorie' }
        style:         { $ref: '#/components/schemas/Style' }
        forceClaimed:  { type: integer, minimum: 1, maximum: 5 }
        longueur:      { type: integer, minimum: 1 }
        tier:
          type: string
          enum: [high, mid, low, excluded]
          x-enum-varnames: [HIGH, MID, LOW, EXCLUDED]
        isCalibration: { type: boolean }

    Pos:
      type: string
      description: |
        Part of speech of the clued answer. `polyvalent` marks a clue with
        multiple valid readings — sense-only (e.g. ARGENT money/colour, both
        noun) or cross-POS (noun + adjective) — collapsed into one bucket;
        distinct from `autre` (POS unknown/not applicable).
      enum:
        - verbe_infinitif
        - participe_passe
        - participe_present
        - nom_commun
        - nom_propre
        - adjectif
        - adverbe
        - interjection
        - mot_outil
        - sigle_abreviation
        - polyvalent
        - autre
      x-enum-varnames:
        [VERBE_INFINITIF, PARTICIPE_PASSE, PARTICIPE_PRESENT,
         NOM_COMMUN, NOM_PROPRE, ADJECTIF, ADVERBE, INTERJECTION, MOT_OUTIL,
         SIGLE_ABREVIATION, POLYVALENT, AUTRE]

    Categorie:
      type: string
      description: |
        High-level answer class. 18 broad classes + `autre`; one word each,
        scannable, spanning nouns, verbs (`action`) and adjectives
        (`qualificatif`). All granularity lives in free-form sub-tags, not
        here.
      enum:
        - personne
        - faune_flore
        - geographie
        - meteo
        - objet
        - nourriture
        - corps
        - culture
        - histoire
        - jeu
        - sport
        - religion
        - societe
        - science
        - conceptuel
        - langue
        - action
        - qualificatif
        - autre
      x-enum-varnames:
        [PERSONNE, FAUNE_FLORE, GEOGRAPHIE, METEO, OBJET, NOURRITURE, CORPS,
         CULTURE, HISTOIRE, JEU, SPORT, RELIGION, SOCIETE, SCIENCE, CONCEPTUEL,
         LANGUE, ACTION, QUALIFICATIF, AUTRE]

    Style:
      type: string
      enum:
        - definition_directe
        - periphrase
        - metonymie
        - fonction_role
        - calembour
        - culturel
        - cryptique
        - cryptique_morphologique
        - technique
      x-enum-varnames:
        [DEFINITION_DIRECTE, PERIPHRASE, METONYMIE, FONCTION_ROLE, CALEMBOUR,
         CULTUREL, CRYPTIQUE, CRYPTIQUE_MORPHOLOGIQUE, TECHNIQUE]

    ItemPair:
      type: object
      required: [mot, left, right]
      properties:
        mot:   { type: string }
        left:  { $ref: '#/components/schemas/Item' }
        right: { $ref: '#/components/schemas/Item' }

    PairVerdict:
      type: string
      enum: [LEFT_WINS, RIGHT_WINS, BOTH_GOOD, BOTH_BAD, SKIP]
      x-enum-varnames: [LEFT_WINS, RIGHT_WINS, BOTH_GOOD, BOTH_BAD, SKIP]

    PairRatingRequest:
      type: object
      required: [leftItemId, rightItemId, verdict, difficulte, latencyMs]
      properties:
        leftItemId:  { type: string, format: uuid }
        rightItemId: { type: string, format: uuid }
        verdict:     { $ref: '#/components/schemas/PairVerdict' }
        difficulte:  { type: integer, minimum: 1, maximum: 5 }
        latencyMs:   { type: integer, minimum: 0 }

    RatingRequest:
      type: object
      required: [qualite, difficulte, latencyMs, isMultisense]
      properties:
        qualite:    { type: integer, minimum: 1, maximum: 5 }
        difficulte: { type: integer, minimum: 1, maximum: 5 }
        flag:
          type: string
          enum: [hors_sujet, auto_reference, erreur_sens, autre]
          x-enum-varnames: [HORS_SUJET, AUTO_REFERENCE, ERREUR_SENS, AUTRE]
        correctif:
          type: object
          description: |
            Clue correction. Authenticated callers only. When `pos` is set and
            `text` equals the original clue, the original item's POS is patched
            in place; when `text` differs, a new rater-proposed item carries the
            corrected text and `pos` (defaulting to the parent's POS when absent).
          required: [text, style]
          properties:
            text:   { type: string, minLength: 2, maxLength: 60 }
            style:  { $ref: '#/components/schemas/Style' }
            pos:    { $ref: '#/components/schemas/Pos' }
        targetCategories:
          type: array
          description: |
            High-level answer classes the rater assigns to this definition.
            An editable multi-select, pre-filled client-side from the item's
            single machine `categorie` prior but freely overridden. Any
            authenticated rater may set it; anonymous submissions including
            this field return 401. When several raters annotate the same
            definition, maintainer ratings take precedence on resolution.
            Omitted when the rater does not annotate categories.
          items: { $ref: '#/components/schemas/Categorie' }
          minItems: 1
          maxItems: 6
        targetSense:
          type: string
          description: |
            Single freeform sense gloss this clue targets. Must not repeat
            the lemma; server soft-normalizes for autocomplete dedup, stores
            the original spelling. Omitted when sense is not annotated
            or `isMultisense` is true. Authenticated callers only.
          minLength: 1
          maxLength: 80
        isMultisense:
          type: boolean
          default: false
          description: |
            Calembour marker: the clue deliberately plays on several senses
            at once. When true, `targetSense` is optional — the senses are
            not enumerated. Authenticated callers only.
        subTags:
          type: array
          description: |
            Free-form sub-domain refinement tags for this definition — finer
            than `targetCategories` (e.g. felin, capitale, note de musique).
            Per-rating. Server soft-normalizes for autocomplete dedup, stores
            the original spelling. Authenticated callers only. Omitted when
            not annotated.
          items:
            type: string
            minLength: 1
            maxLength: 40
          minItems: 1
          maxItems: 12
        latencyMs: { type: integer, minimum: 0 }

    UndoActionRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: The capability token returned as undoToken by the submit response.

    RatingResponse:
      type: object
      required: [ratingId, itemId, submittedAs, proposedItemId, campaignId, undoToken]
      properties:
        ratingId:       { type: string, format: uuid }
        itemId:         { type: string, format: uuid }
        submittedAs:
          type: string
          enum: [auth, anon]
          x-enum-varnames: [AUTH, ANON]
        proposedItemId: { type: string, format: uuid, nullable: true, description: "UUID of the queued correctif item; null when no correctif was submitted." }
        campaignId:     { type: string, format: uuid, description: "Campaign whose lifecycle window this rating landed in. Stamped by the server at insert time." }
        undoToken:
          type: string
          nullable: true
          description: >-
            Capability token for undoing this action. Non-null on 201 (fresh
            action); null on 409 (idempotent re-rate). Present it in the body of
            POST /v1/actions/undo.

    PairRatingResponse:
      type: object
      required: [campaignId, undoToken]
      properties:
        campaignId: { type: string, format: uuid, description: "Campaign whose lifecycle window this pair verdict landed in. Stamped by the server at insert time." }
        undoToken:
          type: string
          description: >-
            Capability token for undoing this pair action. Non-null on 201.
            Present it in the body of POST /v1/actions/undo.

    CorrectifRejection:
      type: object
      required: [type, title, status, filterId, reason]
      properties:
        type:     { type: string, format: uri }
        title:    { type: string }
        status:   { type: integer }
        filterId: { type: integer, minimum: 1, maximum: 7 }
        reason:   { type: string }

    ProgressResponse:
      type: object
      required: [itemsRated, calibrationAgreement, lastRatedAt]
      properties:
        itemsRated:           { type: integer, minimum: 0 }
        calibrationAgreement: { type: number, format: float, nullable: true, minimum: 0, maximum: 1, description: "Agreement ratio with calibration items; null until the first calibration rating." }
        lastRatedAt:          { type: string, format: date-time, nullable: true, description: "ISO-8601 timestamp of the most recent rating; null until the first submission." }

    ContributionItem:
      type: object
      required: [itemId, mot, definition, pos, categorie, style, optedOut, kCoverage, createdAt]
      properties:
        itemId:     { type: string, format: uuid }
        mot:        { type: string }
        definition: { type: string }
        pos:        { $ref: '#/components/schemas/Pos' }
        categorie:  { $ref: '#/components/schemas/Categorie' }
        style:      { $ref: '#/components/schemas/Style' }
        optedOut:   { type: boolean }
        kCoverage:  { type: integer, minimum: 0 }
        createdAt:  { type: string, format: date-time }

    PreferencesPatch:
      type: object
      required: [deleteProposedOnErasure]
      properties:
        deleteProposedOnErasure: { type: boolean }

    LemmaMeta:
      type: object
      description: |
        Per-lemma autocomplete payload. Both arrays are always present,
        empty when the lemma has no history. Both `priorSenses` and
        `priorSubTags` are machine-grown by aggregating the distinct values
        observed across past ratings of this lemma; there is no separate
        curation surface.
      required: [priorSenses, priorSubTags]
      properties:
        priorSenses:
          type: array
          description: Distinct sense glosses observed in past ratings of this lemma. Ordered most-recent first.
          items:
            type: string
            minLength: 1
            maxLength: 80
        priorSubTags:
          type: array
          description: Distinct sub-domain tags observed in past ratings of this lemma. Ordered most-recent first.
          items:
            type: string
            minLength: 1
            maxLength: 40

    ProblemDetails:
      type: object
      required: [type, title, status]
      properties:
        type:   { type: string, format: uri }
        title:  { type: string }
        status: { type: integer }
        detail: { type: string }

  responses:
    ProblemDetails:
      description: RFC 7807 problem details.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
