openapi: 3.1.0
info:
  title: WordSparrow Identity API
  version: 0.1.0
  summary: Player identity via Google + Apple OIDC.
  description: |
    Player identity via Google + Apple OIDC. Scopes: `openid email`.
    Cookie: `__Secure-ws_session` (HttpOnly, Secure, SameSite=Lax, Path=/,
    `Domain=wordsparrow.io`). The `__Secure-` prefix permits the `Domain`
    attribute so the cookie travels to every subdomain — see RFC 6265bis
    §4.1.3.2. See ADR-0044 (amended) and ADR-0082.
  contact:
    name: Bliss maintainers
    url: https://github.com/Ishou/bliss
    email: noreply@bliss.example
  license:
    name: FSL-1.1-MIT
    url: https://github.com/Ishou/bliss/blob/main/LICENSE

servers:
  - url: https://auth.wordsparrow.io
    description: Production
  - url: http://localhost:7779
    description: Local k3d

tags:
  - name: auth
    description: |
      OIDC sign-in flows, provider callbacks, session management (whoami, logout).
  - name: progress
    description: |
      Cross-device solo puzzle progress, stored per user as an opaque blob (ADR-0075).
  - name: users
    description: |
      Current-user read/write, right-to-erasure (RGPD Article 17), and provider linking.

paths:
  /v1/auth/{provider}/login:
    get:
      operationId: beginLogin
      summary: Start an OIDC sign-in flow.
      description: |
        Validates `provider` and `return_to`, creates a state cookie for CSRF
        protection, then redirects the browser to the IdP authorise endpoint.
      tags: [auth]
      parameters:
        - $ref: '#/components/parameters/ProviderPath'
        - in: query
          name: return_to
          required: true
          description: URL to redirect to after a successful or failed sign-in. Must be under the app origin.
          schema: { type: string, format: uri }
      responses:
        '302':
          description: Redirect to the IdP authorise endpoint.
          headers:
            Set-Cookie: { schema: { type: string } }
            Location: { schema: { type: string, format: uri } }
        '400': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/google/callback:
    get:
      operationId: googleCallback
      summary: Google OIDC callback (GET, query string).
      description: |
        Google posts `code` and `state` as query parameters. Verifies state,
        exchanges the code for an id_token, upserts the player, issues the
        session cookie, and redirects to `return_to`.
      tags: [auth]
      parameters:
        - in: query
          name: code
          required: true
          description: Authorization code returned by Google.
          schema: { type: string }
        - in: query
          name: state
          required: true
          description: Opaque CSRF state value that must match the state cookie.
          schema: { type: string }
      responses:
        '302':
          description: Redirect to `return_to`. Sets the session cookie if sign-in succeeded.
          headers:
            Set-Cookie: { schema: { type: string } }
            Location: { schema: { type: string, format: uri } }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '409': { $ref: '#/components/responses/ProblemDetails' }
        '500': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/apple/callback:
    post:
      operationId: appleCallback
      summary: Apple OIDC callback (POST, form-encoded body — Apple uses response_mode=form_post).
      description: |
        Apple uses `response_mode=form_post`, delivering `code`, `state`, and
        optionally a `user` JSON payload in the form body. Verifies state,
        exchanges the code for an id_token, upserts the player, issues the
        session cookie, and redirects to `return_to`.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [code, state]
              properties:
                code:
                  type: string
                  description: Authorization code returned by Apple.
                state:
                  type: string
                  description: Opaque CSRF state value that must match the state cookie.
                user:
                  type: string
                  description: "Apple's name JSON, only present on first sign-in. Ignored by this API."
      responses:
        '302':
          description: Redirect to `return_to`. Sets the session cookie if sign-in succeeded.
          headers:
            Set-Cookie: { schema: { type: string } }
            Location: { schema: { type: string, format: uri } }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '409': { $ref: '#/components/responses/ProblemDetails' }
        '500': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/email/start:
    post:
      operationId: startEmailLogin
      summary: Begin an email-OTP sign-in by emailing a 6-digit code.
      description: |
        Accepts an email address and emails a single-use 6-digit code
        (ADR-0091). Responds with a uniform 202 regardless of whether the
        email maps to an existing account, so the caller cannot enumerate
        which addresses are known. Sets a short-TTL, HttpOnly challenge cookie
        `__Secure-ws_otp_chal` that `verify` requires alongside the code.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EmailStartRequest' }
      responses:
        '202':
          description: |
            Accepted. A code was emailed if the address is deliverable; the
            response is identical whether or not the email is known. Sets the
            `__Secure-ws_otp_chal` challenge cookie.
          headers:
            Set-Cookie: { schema: { type: string } }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '429': { $ref: '#/components/responses/ProblemDetails' }
        '502': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/email/verify:
    post:
      operationId: verifyEmailLogin
      summary: Verify an email-OTP code and mint a session.
      description: |
        Takes the emailed 6-digit code plus the `__Secure-ws_otp_chal`
        challenge cookie set by `start`. On a valid, unexpired, unlocked code
        with a matching cookie, resolves the account (ADR-0091) and issues the
        standard `__Secure-ws_session` cookie. Failure responses are uniform
        and non-enumerating (a bad, expired, or locked code all return
        400/401 regardless of whether the email is known).
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EmailVerifyRequest' }
      responses:
        '200':
          description: Signed in. Sets the `__Secure-ws_session` cookie and returns the minimal identity.
          headers:
            Set-Cookie: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhoAmIResponse' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '429': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/whoami:
    get:
      operationId: whoAmI
      summary: Resolve the current session cookie to a user.
      description: |
        Returns minimal identity (userId + displayName + role + capabilities) for the
        session. Used by grid-api and game-api for downstream auth; consumers gate on
        capabilities + userId only (ADR-0060 amendment). Returns 401 when no valid
        session cookie is present.
      tags: [auth]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Signed in. Returns the minimal identity for the session.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhoAmIResponse' }
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/logout:
    post:
      operationId: logout
      summary: Revoke the current session and clear the cookie.
      description: |
        Deletes the server-side session record and sets a clearing Set-Cookie
        header. Safe to call even when no session exists (idempotent on the
        client side; returns 401 only when the cookie is absent).
      tags: [auth]
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Logged out. Response sets a clearing Set-Cookie.
          headers:
            Set-Cookie: { schema: { type: string } }
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/logout-all:
    post:
      operationId: logoutAll
      summary: Revoke all of the user's other sessions, keeping the caller's.
      description: |
        Revokes every server-side session for the authenticated user except
        the caller's current one — a provider-agnostic compromise-containment
        escape hatch (ADR-0091). Does not clear the caller's cookie; the
        caller stays signed in on this device.
      tags: [auth]
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Other sessions revoked. The caller's own session is unaffected (no Set-Cookie).
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/users/me:
    get:
      operationId: getMe
      summary: Return the current user.
      description: |
        Returns the full user profile for the authenticated player, including
        linked providers and account metadata.
      tags: [users]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: The authenticated user's profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
    patch:
      operationId: updateMe
      summary: Update the display name.
      description: |
        Partial update — only the fields present in the body are changed.
        `displayName` is deduplicated by appending a numeric suffix if already
        taken (per ADR-0045 §2).
      tags: [users]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserUpdate' }
      responses:
        '200':
          description: The updated user profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
    delete:
      operationId: deleteMe
      summary: Hard-delete the user; cascades to grid/game via UserDeleted event (RGPD Article 17).
      description: |
        Permanently deletes the player account and publishes a `UserDeleted`
        domain event so that grid-api and game-api can wipe their user-scoped
        rows. Sets a clearing Set-Cookie. Per ADR-0045 §4 (data minimization),
        no soft-delete — the row is gone immediately.
      tags: [users]
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Deleted; response sets a clearing Set-Cookie.
          headers:
            Set-Cookie: { schema: { type: string } }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/users/me/providers/{provider}/link:
    post:
      operationId: linkProvider
      summary: Begin an OIDC flow that links another provider to the current user.
      description: |
        Generates an IdP authorise URL that, when followed by the browser,
        will call the corresponding callback and attach the new provider to the
        existing account. Returns the URL for the frontend to navigate to; it
        does not redirect server-side.
      tags: [users]
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/ProviderPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [returnTo]
              properties:
                returnTo: { type: string, format: uri }
      responses:
        '200':
          description: Returns the IdP authorise URL for the frontend to navigate the browser to.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BeginLinkResponse' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/users/me/progress:
    get:
      operationId: listProgress
      summary: Batch-pull all of the current user's solo puzzle progress.
      description: |
        Returns every stored puzzle-progress entry for the authenticated
        player in one call — the grilles archive needs the full set on load,
        not one round-trip per puzzle. Returns an empty `items` array when the
        player has stored nothing; never 404.
      tags: [progress]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: The authenticated user's full set of progress entries.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressList' }
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/users/me/progress/{puzzleId}:
    get:
      operationId: getProgress
      summary: Pull the current user's progress for one puzzle.
      description: |
        Returns the stored progress entry for one puzzle, or 404 when the
        player has no row for it.
      tags: [progress]
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/PuzzleIdPath'
      responses:
        '200':
          description: The stored progress entry for the requested puzzle.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressEntry' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '404': { $ref: '#/components/responses/ProblemDetails' }
    put:
      operationId: putProgress
      summary: Push the current user's progress for one puzzle.
      description: |
        Upserts the player's progress for one puzzle and returns the
        server-stamped `updatedAt`. The server stores `payload` verbatim and
        never parses it (ADR-0075). When `baseUpdatedAt` is present and does
        not match the row's current `updatedAt`, the push is rejected with 409
        so the client can re-pull, re-merge, and re-push (optimistic
        concurrency).
      tags: [progress]
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/PuzzleIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProgressUpdate' }
      responses:
        '200':
          description: Stored. Returns the server-stamped write time.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressWriteResult' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '409': { $ref: '#/components/responses/ProblemDetails' }
        '413': { $ref: '#/components/responses/ProblemDetails' }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Secure-ws_session

  parameters:
    ProviderPath:
      in: path
      name: provider
      required: true
      description: OIDC provider identifier. Currently `google` or `apple`.
      schema:
        type: string
        enum: [google, apple]
        x-enum-varnames: [GOOGLE, APPLE]

    PuzzleIdPath:
      in: path
      name: puzzleId
      required: true
      description: UUID v7 identifier of the puzzle the progress is stored under.
      schema:
        type: string
        format: uuid

  schemas:
    User:
      type: object
      required: [id, displayName, providers, createdAt, role, capabilities]
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string, minLength: 1, maxLength: 30 }
        providers:
          type: array
          items: { $ref: '#/components/schemas/LinkedProvider' }
        createdAt: { type: string, format: date-time }
        role:
          type: string
          enum: [player, maintainer]
          x-enum-varnames: [PLAYER, MAINTAINER]
          # Stored role of the authenticated caller; guest is the no-session state, never returned — ADR-0060.
        capabilities:
          type: array
          items: { type: string, minLength: 1, maxLength: 128 }
          # Capabilities the caller holds, derived from role + subscription; identity is the authorization authority — ADR-0060 amendment.
        email:
          type: string
          format: email
          # Canonical verified IdP email, retained for invoicing (ADR-0082). Absent until captured — not nullable.

    LinkedProvider:
      type: object
      required: [provider, linkedAt]
      properties:
        provider:
          type: string
          enum: [google, apple]
          x-enum-varnames: [GOOGLE, APPLE]
        linkedAt: { type: string, format: date-time }

    UserUpdate:
      type: object
      properties:
        displayName: { type: string, minLength: 1, maxLength: 30 }

    WhoAmIResponse:
      type: object
      required: [userId, displayName, role, capabilities]
      properties:
        userId: { type: string, format: uuid }
        displayName: { type: string, minLength: 1, maxLength: 30 }
        role:
          type: string
          enum: [player, maintainer]
          x-enum-varnames: [PLAYER, MAINTAINER]
          # Stored role of the authenticated caller; guest is the no-session state, never returned (whoami 401s anonymous) — ADR-0060.
        capabilities:
          type: array
          items: { type: string, minLength: 1, maxLength: 128 }
          # Capabilities the caller holds, derived from role + subscription; identity is the authorization authority — ADR-0060 amendment.

    BeginLinkResponse:
      type: object
      required: [authorizeUrl]
      properties:
        authorizeUrl: { type: string, format: uri }

    ProgressEntry:
      type: object
      required: [puzzleId, payload, updatedAt]
      properties:
        puzzleId: { type: string, format: uuid }
        # Opaque frontend SoloStore blob — identity never parses grid's cell shape (ADR-0075).
        payload: { type: object, additionalProperties: true }
        updatedAt: { type: string, format: date-time }

    ProgressList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ProgressEntry' }

    ProgressUpdate:
      type: object
      required: [payload]
      properties:
        # Opaque frontend SoloStore blob — stored verbatim (ADR-0075).
        payload: { type: object, additionalProperties: true }
        baseUpdatedAt: { type: string, format: date-time }

    ProgressWriteResult:
      type: object
      required: [updatedAt]
      properties:
        updatedAt: { type: string, format: date-time }

    EmailStartRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email, maxLength: 254 }

    EmailVerifyRequest:
      type: object
      required: [email, code]
      properties:
        email: { type: string, format: email, maxLength: 254 }
        code: { type: string, pattern: '^[0-9]{6}$' }

    ProblemDetails:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }

  responses:
    ProblemDetails:
      description: RFC 7807 problem+json
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

# Domain events: see identity/api/events/
