# Game bounded-context REST contract.
#
# Hand-written OpenAPI 3.1 per ADR-0003 §1 (source of truth, not generated
# from controller annotations). Wire conventions per ADR-0003 §6: UUID v7 ids,
# ISO-8601 instants with offset, camelCase, RFC 7807 errors, string enums with
# x-enum-varnames, explicit `required` lists, `nullable: true` only when null
# is a meaningful wire value.
#
# `LobbyId` deviates from the UUID v7 default: it is an 8-char base58 nanoid
# per ADR-0020 (URL-friendly share links). All other identifiers stay UUID v7.
#
# v0.1.0 surface: lobby create + read. The realtime surface (joinLobby,
# cellUpdate, etc.) lives in `game/api/asyncapi.yaml`. Persistence beyond
# in-memory is out of scope for v0.1.0 (ADR-0018 §3); a lobby that is not
# read soon after creation may be garbage-collected — clients see 404.
openapi: 3.1.0
info:
  title: Bliss Game API
  version: 0.1.0
  summary: Lobby create + read for the multiplayer game/ context.
  description: |
    REST control plane for the game bounded context. The companion
    `game/api/asyncapi.yaml` carries the realtime surface (one WebSocket per
    `(browser tab x lobby)`). The frontend route loader calls
    `GET /v1/lobbies/{lobbyId}` to bootstrap before opening the WS.

    Wire conventions per ADR-0003 §6. `LobbyId` is the documented exception
    (ADR-0020): an 8-char base58 nanoid embedded directly in URLs.
  contact:
    name: Bliss maintainers
    url: https://github.com/Ishou/bliss
    email: noreply@bliss.example
  license:
    name: FSL-1.1-MIT
    url: https://github.com/Ishou/bliss/blob/main/LICENSE

servers:
  - url: https://game.wordsparrow.io
    description: Production. URL stabilizes when the game-api Helm chart lands (ADR-0018).
  - url: http://localhost:7778
    description: Local dev (Ktor `embeddedServer`). Paired with grid-api's 7777 in `make dev`; prod chart pins PORT=8081 explicitly per ADR-0007 §3.

tags:
  - name: lobbies
    description: Pre-game lobby create and read.
  - name: sessions
    description: |
      Anonymous session lifecycle. Currently exposes the per-session lobby
      listing (powers the Accueil "Mes parties" card) and the right-to-erasure
      endpoint (RGPD Article 17, ADR-0025 §5). Mirrors the grid-api
      `/v1/sessions/{sessionId}` shape so the frontend's "Effacer mes données"
      flow can fan out to both contexts.

paths:
  /v1/lobbies:
    post:
      operationId: createLobby
      summary: Create a new lobby.
      description: |
        Creates a new lobby in WAITING with the calling player as the sole
        member and owner. The client supplies `ownerSessionId` (UUID v7,
        generated client-side per ADR-0018 §"sessions") and `ownerPseudonym`.
        The server mints `lobbyId` (base58 nanoid, ADR-0020) and returns the
        full `Lobby` resource.

        The 201 response includes a `Location` header pointing at the
        canonical read URL.
      tags: [lobbies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLobbyRequest'
      responses:
        '201':
          description: Lobby created. Body is the freshly-minted `Lobby` resource.
          headers:
            Location:
              description: Canonical read URL of the new lobby.
              required: true
              schema:
                type: string
                format: uri-reference
                example: /v1/lobbies/7gQ2xK9p
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: |
            Request body is malformed. RFC 7807. Variant:
            - `ownerSessionId` is not a UUID v7
              (`type` = `https://bliss.example/errors/invalid-lobby-create-request`).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: |
            Hosting requires a signed-in player (ADR-0083). An anonymous
            `POST /v1/lobbies` (no `__Secure-ws_session` cookie, or a
            session that was revoked between the cached and fresh whoami
            lookups) is rejected — guests get zero lobbies. Joining a
            lobby via link/code stays open to everyone. RFC 7807;
            `type` is `https://bliss.example/errors/auth-required`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/lobbies/by-code/{code}:
    get:
      operationId: getLobbyByCode
      summary: Resolve a lobby from its human-friendly join code.
      description: |
        Powers the Accueil "Rejoindre avec un code" flow. The frontend
        passes the typed code; on success the response carries the full
        `Lobby` resource and the client navigates to `/lobby/{id}` using
        the returned `id`. The WebSocket join still goes through the
        existing AsyncAPI surface keyed by `lobbyId`.
      tags: [lobbies]
      parameters:
        - name: code
          in: path
          required: true
          description: Six-char Crockford-style join code (`code` schema).
          schema:
            type: string
            minLength: 6
            maxLength: 6
            pattern: '^[A-HJKM-NP-Z2-9]{6}$'
      responses:
        '200':
          description: Lobby found. Body matches `GET /v1/lobbies/{lobbyId}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: |
            Path parameter `code` does not match the documented pattern.
            RFC 7807; `type` is `https://bliss.example/errors/invalid-lobby-code`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: |
            No lobby carries the supplied code (typo, expired, GC'd —
            same v1 caveat as `lobbyId` lookup). RFC 7807;
            `type` is `https://bliss.example/errors/lobby-not-found`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/lobbies/{lobbyId}:
    get:
      operationId: getLobby
      summary: Read current lobby state.
      description: |
        Returns the full `Lobby` snapshot. Used by the frontend route loader
        to bootstrap the WebSocket connection: the WS opens AFTER the loader
        confirms the lobby exists and learns the current lifecycle state.
      tags: [lobbies]
      parameters:
        - $ref: '#/components/parameters/LobbyIdPath'
      responses:
        '200':
          description: Lobby found. Body is the current `Lobby` snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: |
            Path parameter `lobbyId` does not match the base58 nanoid pattern.
            RFC 7807; `type` is `https://bliss.example/errors/invalid-lobby-id`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: |
            No lobby exists for the supplied id. The lobby may have never
            existed, or it may have been garbage-collected after the last
            player left (ADR-0018 §3 — in-memory v1, no durable storage).
            RFC 7807; `type` is `https://bliss.example/errors/lobby-not-found`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/sessions/{sessionId}/lobbies:
    get:
      operationId: listLobbiesForSession
      summary: List lobbies the caller's session is a member of.
      description: |
        Powers the Accueil "Mes parties" card so a returning player can pick
        up yesterday's lobby without bookmarking the URL. Returns lobbies
        that have entered play — `IN_PROGRESS` or `COMPLETED` — ordered by
        `lastActivityAt` descending so the most recently touched lobby is
        first. `WAITING` (un-started) lobbies are excluded because they are
        "salons d'attente", not "parties"; surfacing them produced confusing
        404 toasts when the WAITING TTL evicted them between fetch and click
        (ADR-0039 amendment 2026-05-12). WAITING lobbies remain reachable
        via the direct lobby URL or the invite code.

        Empty array is the "no lobbies" answer — there is no 404 here,
        which would leak whether the session has ever played.

        Not paginated: a single anonymous session is naturally capped at a
        handful of lobbies and pagination would be premature complexity.
      tags: [sessions]
      parameters:
        - $ref: '#/components/parameters/SessionIdPath'
      responses:
        '200':
          description: |
            List of lobby summaries for this session. Empty array when the
            session is not a member of any lobby (never played, all lobbies
            garbage-collected, etc.).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LobbySummary'
        '400':
          description: |
            Path parameter `sessionId` is not a valid UUID. RFC 7807;
            `type` is `https://bliss.example/errors/invalid-session-id`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/sessions/{sessionId}:
    delete:
      operationId: deleteSession
      summary: Erase server-side lobby data for a session (RGPD Article 17).
      description: |
        Cascades the three-rule erasure documented in ADR-0039 across every
        lobby the session is a member of:

        1. Erased user owns the lobby and is the sole player → the lobby is
           deleted outright.
        2. Erased user owns the lobby with at least one remaining player →
           ownership transfers to the earliest-joined remaining player, the
           erased user is removed, and their cell entries are anonymised
           (attribution dropped; letters retained so the puzzle stays
           coherent for the others).
        3. Erased user is a non-owner player → they are removed and their
           entries are anonymised; the lobby and its owner are unchanged.

        Always idempotent and always returns `200`. A session id with no
        prior data returns all-zero counts. Like the grid-api sibling
        (`SessionRoute.kt`), the endpoint never reveals whether a session
        had data — disclosing presence would itself be a leak.

        The frontend's "Effacer mes données" button fans this call out
        together with grid-api's `DELETE /v1/sessions/{sessionId}`; both
        must succeed for the UI to claim data was erased.
      tags: [sessions]
      parameters:
        - $ref: '#/components/parameters/SessionIdPath'
      responses:
        '200':
          description: |
            Erasure completed. Body reports per-rule counts. All-zero is a
            valid success — the session had no server-side data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSessionResponse'
        '400':
          description: |
            Path parameter `sessionId` is not a valid UUID. RFC 7807;
            `type` is `https://bliss.example/errors/invalid-session-id`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/lobbies/players/rebind:
    post:
      operationId: rebindLobbySessions
      summary: Rebind anon lobby seats to the authenticated user.
      description: |
        Cookie-authed. Updates every lobby seat where `sessionId == anonSessionId`
        AND `userId` is null: sets `userId` to the authenticated user and
        refreshes the seat pseudonym from the user's current displayName.
        Idempotent — re-running with the same body is a no-op.
      tags: [lobbies]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anonSessionId]
              properties:
                anonSessionId:
                  $ref: '#/components/schemas/SessionId'
      responses:
        '204':
          description: Rebind complete (idempotent; zero rows touched is also success).
        '400':
          description: |
            Request body is malformed or contains an invalid field value
            (e.g. `anonSessionId` is not a UUID v7). RFC 7807.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Cookie missing, expired, or rejected by identity-api.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/lobbies/players/unbind:
    post:
      operationId: unbindLobbySessions
      summary: Unbind authenticated lobby seats before sign-out.
      description: |
        Cookie-authed. Updates every lobby seat where `userId == cookie.userId`:
        clears `userId` and sets the seat pseudonym to the supplied
        `anonPseudonym`. Called by the frontend before invoking
        `POST /v1/auth/logout`. Idempotent.
      tags: [lobbies]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anonPseudonym]
              properties:
                anonPseudonym:
                  $ref: '#/components/schemas/Pseudonym'
      responses:
        '204':
          description: Unbind complete (idempotent).
        '400':
          description: |
            Request body is malformed or contains an invalid field value
            (e.g. `anonPseudonym` is empty or exceeds 32 characters). RFC 7807.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Cookie missing, expired, or rejected by identity-api.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Secure-ws_session
      description: |
        Cross-subdomain session cookie issued by identity-api. Validated
        against `GET /v1/auth/whoami` by the game-api cookie verifier
        (30 s cache). 401 if missing / expired / unreachable identity-api.

  parameters:
    LobbyIdPath:
      name: lobbyId
      in: path
      required: true
      description: 8-char base58 nanoid identifying the lobby (ADR-0020).
      schema:
        $ref: '#/components/schemas/LobbyId'

    SessionIdPath:
      name: sessionId
      in: path
      required: true
      description: |
        UUID v7 identifying the calling player's anonymous session.
        Validated by the same `SessionId` value class as the WebSocket
        surface; non-UUID input is rejected with a 400 RFC 7807 problem.
      schema:
        $ref: '#/components/schemas/SessionId'

  schemas:
    LobbyId:
      type: string
      minLength: 8
      maxLength: 8
      pattern: '^[1-9A-HJ-NP-Za-km-z]{8}$'
      description: |
        8-char base58 nanoid (URL-safe; no `0`, `O`, `I`, `l`). Documented
        exception to ADR-0003 §6's UUID v7 default per ADR-0020 — lobbies
        embed their id in human-shareable URLs, where 36-char UUIDs are
        unwieldy. Mirrors `LobbyId` in `game/api/asyncapi.yaml`; keep in sync.
      example: 7gQ2xK9p

    SessionId:
      type: string
      format: uuid
      description: |
        UUID v7 string per ADR-0003 §6. Generated client-side on first visit
        and persisted in `localStorage`. Mirrors `SessionId` in
        `game/api/asyncapi.yaml`; keep in sync.
      example: 0190e3a4-7a2c-7c9e-8f1a-9b2d3e4f5a6b

    Pseudonym:
      type: string
      minLength: 1
      maxLength: 32
      description: |
        Player display name. Not unique within a lobby. Leading / trailing
        whitespace is rejected. Mirrors `Pseudonym` in
        `game/api/asyncapi.yaml`; keep in sync.
      example: Joueur 1234

    Instant:
      type: string
      format: date-time
      description: ISO-8601 instant with timezone offset (ADR-0003 §6).
      example: '2026-05-02T15:30:00Z'

    LobbyLifecycleState:
      type: string
      enum: [WAITING, IN_PROGRESS, COMPLETED]
      x-enum-varnames: [WAITING, IN_PROGRESS, COMPLETED]
      description: Lobby lifecycle (ADR-0018). Mirrors `LobbyLifecycleState` in `game/api/asyncapi.yaml`.

    GridConfig:
      type: object
      required: [width, height]
      description: |
        Dimensions chosen by the lobby owner before start. Mirrors `GridConfig`
        in `game/api/asyncapi.yaml`; keep in sync.
      properties:
        width:
          type: integer
          minimum: 5
          maximum: 28
          description: Number of columns.
          example: 7
        height:
          type: integer
          minimum: 5
          maximum: 28
          description: Number of rows.
          example: 7

    Player:
      type: object
      required: [sessionId, pseudonym, joinedAt]
      description: |
        A player currently holding a slot in the lobby. Mirrors `Player` in
        `game/api/asyncapi.yaml`; keep in sync.
      properties:
        sessionId:
          $ref: '#/components/schemas/SessionId'
        pseudonym:
          $ref: '#/components/schemas/Pseudonym'
        joinedAt:
          $ref: '#/components/schemas/Instant'

    GamePuzzle:
      type: object
      description: |
        Game-context projection of a puzzle. Carries every field a client
        needs to render and play. Owned by game/ — not a $ref into grid/
        (ADR-0001 §1 forbids cross-context file dependencies). The server
        fetches from grid/ on startGame and forwards the document verbatim.
        Mirrors `GamePuzzle` in `game/api/asyncapi.yaml`; keep in sync.
      required: [id, title, language, width, height, cells, clues, hintsAllowed, createdAt]
      properties:
        id:
          type: string
          format: uuid
          description: UUID v7 puzzle identifier.
          example: 0190e3a4-7a2c-7c9e-8f1a-9b2d3e4f5a6c
        title:
          type: string
          minLength: 1
          maxLength: 200
          example: Petite grille du mardi
        language:
          type: string
          pattern: '^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$'
          description: BCP-47 tag.
          example: fr
        width:
          type: integer
          minimum: 1
          maximum: 50
          description: Number of columns.
          example: 5
        height:
          type: integer
          minimum: 1
          maximum: 50
          description: Number of rows.
          example: 5
        cells:
          type: array
          items:
            $ref: '#/components/schemas/GameCell'
          description: Cells in row-major order; look up by position.row/position.column.
        clues:
          type: array
          items:
            $ref: '#/components/schemas/GameClue'
        hintsAllowed:
          type: integer
          minimum: 0
          description: |
            Hint budget for this puzzle. Mirrors `Puzzle.hintsAllowed` in
            `grid/api/openapi.yaml`; forwarded verbatim from grid/ on startGame.
          example: 3
        createdAt:
          $ref: '#/components/schemas/Instant'

    GameCell:
      type: object
      required: [kind, position]
      description: |
        Grid cell. `kind` discriminates letter / definition / block. Mirrors
        `GameCell` in `game/api/asyncapi.yaml`; keep in sync.
      discriminator:
        propertyName: kind
        mapping:
          letter: '#/components/schemas/GameLetterCell'
          definition: '#/components/schemas/GameDefinitionCell'
          block: '#/components/schemas/GameBlockCell'
      oneOf:
        - $ref: '#/components/schemas/GameLetterCell'
        - $ref: '#/components/schemas/GameDefinitionCell'
        - $ref: '#/components/schemas/GameBlockCell'
      properties:
        kind:
          $ref: '#/components/schemas/GameCellKind'
        position:
          $ref: '#/components/schemas/GamePosition'

    GameCellKind:
      type: string
      enum: [letter, definition, block]
      x-enum-varnames: [LETTER, DEFINITION, BLOCK]
      description: Discriminator for `GameCell` variants.

    GameLetterCell:
      type: object
      required: [kind, position]
      description: |
        Player-fillable answer cell. The canonical solution is server-private
        and never carried on the wire. Player input flows in via the
        `cellUpdate` WebSocket frame and is rebroadcast as `cellUpdated`. On
        solve, `gameSolved.finalEntries` carries the full solved grid — the
        only post-completion broadcast of canonical letters. Mirrors
        `GameLetterCell` in `game/api/asyncapi.yaml`; keep in sync per
        ADR-0001 §1 (no cross-context $ref).
      properties:
        kind:
          type: string
          enum: [letter]
        position:
          $ref: '#/components/schemas/GamePosition'

    GameDefinitionCell:
      type: object
      required: [kind, position, clues]
      description: |
        Mots-fleches definition cell. Carries 1 clue (the common case) or 2
        clues (the corner-cell idiom — an across clue and a down clue stacked
        at one position). Mirrors `GameDefinitionCell` in
        `game/api/asyncapi.yaml`; keep in sync.
      properties:
        kind:
          type: string
          enum: [definition]
        position:
          $ref: '#/components/schemas/GamePosition'
        clues:
          type: array
          minItems: 1
          maxItems: 2
          items:
            $ref: '#/components/schemas/GameDefinitionClue'

    GameDefinitionClue:
      type: object
      required: [id, text, arrow]
      description: A single clue carried by a `GameDefinitionCell`.
      properties:
        id:
          type: string
          format: uuid
          description: UUID v7 clue identifier.
          example: 0190e3a4-7a2c-7c9e-8f1a-9b2d3e4f5a6d
        text:
          type: string
          minLength: 1
          maxLength: 500
          example: Capitale de la France
        arrow:
          $ref: '#/components/schemas/GameArrow'

    GameBlockCell:
      type: object
      required: [kind, position]
      description: Unfillable decorative cell.
      properties:
        kind:
          type: string
          enum: [block]
        position:
          $ref: '#/components/schemas/GamePosition'

    GameArrow:
      type: string
      enum: [right, down, down-right, right-down]
      x-enum-varnames: [RIGHT, DOWN, DOWN_RIGHT, RIGHT_DOWN]
      description: Arrow direction on a mots-fleches definition cell.

    GamePosition:
      type: object
      required: [row, column]
      description: Zero-indexed grid coordinate.
      properties:
        row:
          type: integer
          minimum: 0
          description: Zero-indexed row, top to bottom.
        column:
          type: integer
          minimum: 0
          description: Zero-indexed column, left to right.

    LockedCell:
      type: object
      required: [row, column, lockedBy]
      description: A locked cell plus the session that first locked it (first-writer-wins on crossings).
      properties:
        row:
          type: integer
          minimum: 0
          description: Zero-indexed row, top to bottom.
        column:
          type: integer
          minimum: 0
          description: Zero-indexed column, left to right.
        lockedBy:
          $ref: '#/components/schemas/SessionId'

    GameClue:
      type: object
      required: [id, direction, start, length, text]
      description: A single clue listed in `GamePuzzle.clues`.
      properties:
        id:
          type: string
          format: uuid
          description: UUID v7 clue identifier.
          example: 0190e3a4-7a2c-7c9e-8f1a-9b2d3e4f5a6e
        direction:
          $ref: '#/components/schemas/GameClueDirection'
        start:
          $ref: '#/components/schemas/GamePosition'
        length:
          type: integer
          minimum: 1
          maximum: 50
          description: Number of letter cells in the answer.
        text:
          type: string
          minLength: 1
          maxLength: 500

    GameClueDirection:
      type: string
      enum: [across, down]
      x-enum-varnames: [ACROSS, DOWN]
      description: Direction a clue's answer is written.

    GameSession:
      type: object
      required: [puzzle, entries, lockedPositions, startedAt, completedAt]
      description: |
        Active game embedded in `Lobby.game` while IN_PROGRESS or COMPLETED.
        `completedAt` is in `required` because the field is always present on
        the wire — `null` (still in progress) and a timestamp (solved) are
        both meaningful values. `entries` carries every letter typed so far
        (server-authoritative) so a client refreshing the page in mid-game
        rehydrates the grid from the REST snapshot before the WebSocket
        opens. Cleared cells are absent from the list; entries are sorted
        by row then column for stable rendering. `lockedPositions` mirrors
        the cumulative server-locked cells (every word validated correct
        so far) so the same refresh path renders read-only cells without
        waiting for a WebSocket replay; always emitted (empty list when
        no word has been locked). `presence` is the ephemeral cursor map
        for currently-connected players; optional and absent or empty
        when state is WAITING/COMPLETED. Mirrors `GameSession` in
        `game/api/asyncapi.yaml`; keep in sync.
      properties:
        puzzle:
          $ref: '#/components/schemas/GamePuzzle'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/CellEntry'
          description: Every cell typed so far. Empty list when no player has typed yet.
        lockedPositions:
          type: array
          items:
            $ref: '#/components/schemas/LockedCell'
          description: |
            Cumulative cells locked by server-side word validation, each with
            the per-cell `lockedBy` session that first locked it (first-writer-
            wins on crossings, per ADR-0086). Order is row then column for
            diff-friendly snapshots. Empty list when no word has been locked.
        startedAt:
          $ref: '#/components/schemas/Instant'
        completedAt:
          allOf:
            - $ref: '#/components/schemas/Instant'
          nullable: true
          description: Set once the lobby reaches COMPLETED; `null` while IN_PROGRESS.
        presence:
          type: array
          items:
            $ref: '#/components/schemas/PresenceEntry'
          description: |
            Ephemeral cursor positions of currently-connected players.
            Empty or absent when state is WAITING/COMPLETED. Not persisted
            (lives in `SessionManager`'s in-memory map per ADR-0018 §3).
            Mirrors `lobbyState.game.presence` on the WebSocket snapshot.

    CellEntry:
      type: object
      required: [sessionId, row, column, letter, writtenAt]
      description: |
        A single placed letter in the canonical entries list. Used by
        `GameSession.entries` to rehydrate a refreshing client's grid.
        `letter` is always non-null — cleared cells are absent from the
        list. `sessionId` and `writtenAt` mirror the per-cell `cellUpdated`
        WebSocket event so a future per-author UI tint can colour each
        entry. Mirrors `CellEntry` in `game/api/asyncapi.yaml`; keep in sync.
      properties:
        sessionId:
          $ref: '#/components/schemas/SessionId'
        row:
          type: integer
          minimum: 0
          example: 0
        column:
          type: integer
          minimum: 0
          example: 3
        letter:
          type: string
          minLength: 1
          maxLength: 1
          pattern: '^[A-Z]$'
          description: Always non-null. Cleared cells are absent from the list.
          example: P
        writtenAt:
          $ref: '#/components/schemas/Instant'

    PresenceEntry:
      type: object
      required: [sessionId, row, column, direction]
      description: |
        Ephemeral cursor position of one currently-connected player. Carried
        by `GameSession.presence` so a client bootstrapping via REST sees
        peer cursors immediately, before opening the WebSocket. `row`,
        `column`, `direction` are all nullable — `null` means the player
        has no cell focused. Absence from the list means the player is not
        connected; per ADR-0003 §6, absence and `null` are distinct.
        Carries no domain meaning; not persisted. Mirrors `PresenceEntry`
        in `game/api/asyncapi.yaml`; keep in sync.
      properties:
        sessionId:
          $ref: '#/components/schemas/SessionId'
        row:
          type: integer
          minimum: 0
          nullable: true
          description: Zero-indexed row of the focused cell; `null` when no cell is focused.
          example: 0
        column:
          type: integer
          minimum: 0
          nullable: true
          description: Zero-indexed column of the focused cell; `null` when no cell is focused.
          example: 3
        direction:
          allOf:
            - $ref: '#/components/schemas/GameClueDirection'
          nullable: true
          description: Direction the player is currently solving; `null` when no cell is focused. Lets peers tint the whole word.

    Lobby:
      type: object
      required: [id, ownerSessionId, players, state, gridConfig, game]
      description: |
        Full lobby snapshot. `game` is in `required` because the field is
        always present on the wire — `null` (state == WAITING) and a populated
        `GameSession` (state in {IN_PROGRESS, COMPLETED}) are both meaningful.
        ADR-0003 §6: absence and `null` are distinct.
      properties:
        id:
          $ref: '#/components/schemas/LobbyId'
        ownerSessionId:
          $ref: '#/components/schemas/SessionId'
        players:
          type: array
          maxItems: 8
          items:
            $ref: '#/components/schemas/Player'
          description: |
            Up to 8 players (ADR-0018). Wire shape is an array, NOT a
            map-keyed-by-sessionId — JSON object keys are unordered, an array
            preserves join order for stable rendering.
        state:
          $ref: '#/components/schemas/LobbyLifecycleState'
        gridConfig:
          $ref: '#/components/schemas/GridConfig'
        game:
          allOf:
            - $ref: '#/components/schemas/GameSession'
          nullable: true
          description: Null while WAITING; populated while IN_PROGRESS or COMPLETED.
        code:
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^[A-HJKM-NP-Z2-9]{6}$'
          description: |
            Human-friendly join code surfaced to non-owner players (the
            Accueil "Rejoindre avec un code" flow renders this in the
            input). Six uppercase alphanumeric characters, drawn from the
            unambiguous Crockford-style alphabet (no `0`/`O`, `1`/`I`,
            `L`) so a player reading the code aloud cannot land on a
            different lobby. Always present for lobbies created after the
            join-by-code wave (PR #262). Will be promoted to `required`
            in phase 3 once all clients expect the field.
          example: A2B3C4
        title:
          type: string
          minLength: 1
          maxLength: 64
          description: |
            Optional human-friendly label set by the lobby owner at
            creation (e.g. "Game A", "Mardi soir"). Powers the Accueil
            "Mes parties" card so a returning player recognises yesterday's
            lobby at a glance; when absent the UI falls back to a
            date-derived label. Per ADR-0003 §6, optional means absent OR
            present — never `null` on the wire.
          example: Mardi soir

    LobbySummary:
      type: object
      required: [id, code, state, gridConfig, playerCount, connectedCount, lastActivityAt, progress]
      description: |
        Compact view of a lobby for the "Mes parties" listing. Carries just
        enough to render a row in the Accueil card (label, code, grid size,
        recency, puzzle progress) without paying the cost of the full
        `Lobby` snapshot — the `game` payload is intentionally omitted. The
        frontend hydrates the full lobby through `GET /v1/lobbies/{lobbyId}`
        when the player clicks through. `title` is optional with the same
        wire semantics as `Lobby.title` (absent OR present, never `null`).
      properties:
        id:
          $ref: '#/components/schemas/LobbyId'
        code:
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^[A-HJKM-NP-Z2-9]{6}$'
          description: |
            Join code mirroring `Lobby.code`. Required here because every
            lobby surfaced by this endpoint is post-PR-#262 and always has
            a code; the frontend renders it next to the title in the card.
          example: A2B3C4
        state:
          $ref: '#/components/schemas/LobbyLifecycleState'
        gridConfig:
          $ref: '#/components/schemas/GridConfig'
        playerCount:
          type: integer
          minimum: 1
          maximum: 8
          description: |
            Number of players currently holding a slot — the total roster
            size, including players who are offline right now. Computed by
            the adapter so the summary endpoint avoids loading the full
            player list. Contrast with `connectedCount`, which counts only
            the subset whose WebSocket session is live.
          example: 3
        connectedCount:
          type: integer
          minimum: 0
          maximum: 8
          description: |
            Subset of `playerCount` whose WebSocket session is currently
            connected. Drives the `X / Y` display on the Accueil "Mes
            parties" surface where X = connected, Y = `playerCount` (total
            roster including offline). When the backend has no connection
            registry signal for a player, that player is treated as
            disconnected (conservative). Minimum 0; maximum `playerCount`
            (frontend may clamp defensively but server must enforce).
          example: 2
        lastActivityAt:
          $ref: '#/components/schemas/Instant'
        progress:
          $ref: '#/components/schemas/LobbyProgress'
        title:
          type: string
          minLength: 1
          maxLength: 64
          description: |
            Optional label mirroring `Lobby.title`. Absent when the owner
            did not set one at creation; never `null` on the wire.
          example: Mardi soir

    LobbyProgress:
      type: object
      required: [solvedCells, totalCells]
      description: |
        Puzzle progress projection for a lobby's `GameSession`. `solvedCells`
        counts letter cells whose typed entry matches the canonical answer;
        `totalCells` counts answerable letter cells in the puzzle. Always
        present in `LobbySummary` because the endpoint only lists
        `IN_PROGRESS` / `COMPLETED` lobbies, both of which carry a
        `GameSession`. Drives the per-row progress bar on the Accueil "Mes
        parties" surface.
      properties:
        solvedCells:
          type: integer
          minimum: 0
          description: Letter cells whose typed entry matches the canonical answer.
          example: 12
        totalCells:
          type: integer
          minimum: 0
          description: Letter cells in the puzzle that have an answer to be solved.
          example: 50

    CreateLobbyRequest:
      type: object
      required: [ownerSessionId, ownerPseudonym]
      description: Request body for `POST /v1/lobbies`.
      properties:
        ownerSessionId:
          $ref: '#/components/schemas/SessionId'
        ownerPseudonym:
          $ref: '#/components/schemas/Pseudonym'
          description: |
            Accepted for wire-compatibility but unused server-side (ADR-0083):
            the authed create path derives the owner's display name from the
            verified session instead.
        title:
          type: string
          minLength: 1
          maxLength: 64
          description: |
            Optional human-friendly label for the lobby. Surfaced on the
            "Mes parties" card. Per ADR-0003 §6, optional means absent OR
            present — never `null` on the wire; omit the field entirely to
            create an untitled lobby.
          example: Mardi soir
      example:
        ownerSessionId: 0190e3a4-7a2c-7c9e-8f1a-9b2d3e4f5a6b
        ownerPseudonym: Joueur 1234
        title: Mardi soir

    DeleteSessionResponse:
      type: object
      description: |
        Response body for `DELETE /v1/sessions/{sessionId}` on a 200.
        Reports the per-rule counts of the three-rule cascade documented
        in ADR-0039. All-zero is a valid success — the session had no
        server-side data.
      required: [deletedLobbies, transferredLobbies, removedPlayerships, anonymisedEntries]
      properties:
        deletedLobbies:
          type: integer
          minimum: 0
          description: |
            Number of lobbies deleted because the erased session was the
            sole owner-player (Rule 1).
          example: 1
        transferredLobbies:
          type: integer
          minimum: 0
          description: |
            Number of lobbies whose ownership was transferred to the
            earliest-joined remaining player because the erased session
            was the owner with at least one other player (Rule 2).
          example: 1
        removedPlayerships:
          type: integer
          minimum: 0
          description: |
            Number of lobby memberships removed for the erased session
            (sum across Rules 2 and 3 — i.e. every lobby the session was
            a member of and that was not deleted outright).
          example: 2
        anonymisedEntries:
          type: integer
          minimum: 0
          description: |
            Number of `lobby_cell_entries` rows whose author attribution
            was dropped (letters retained, `writtenBySessionId` cleared)
            so surviving lobbies stay coherent for the remaining players.
          example: 7

    Problem:
      type: object
      description: |
        RFC 7807 error envelope (ADR-0003 §6). Additional members per
        RFC 7807 §3.2 may appear; clients tolerate them.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          description: |
            Stable URI for the error class. Clients route on `type`, never on
            `title` or `detail`.
          example: https://bliss.example/errors/lobby-not-found
        title:
          type: string
          description: Short, human-readable summary of the error class.
          example: Lobby not found
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: HTTP status code, repeated for clients that lose it.
          example: 404
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri-reference
          description: URI reference identifying the specific occurrence.
